{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}API Token{% endblock page_title %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock header_stuff %}


{% block content %}

<div class="container">

<div>
<h3>User/Token API</h3>
</br>
   <h4>Your Current API Token:</h2>
   <pre><code><strong> {{ token.key }} </strong></code></pre>
</br>


    <h4>Get User Token</h4>

    <strong>Endpoint: </strong><code>
    {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/accounts/auth/
    </code></br>
    <strong>Method:</strong> POST</br>
    <strong>Body (Form):</strong>
    <pre><code>'username=USERNAME, password=PASSWORD'</code></pre>
    </code>

</br>

<h3>Organization API</h3>


</br>


    <h4>Create Organization</h4>

<p></p>For now I made an intentional design decision to prohibit the creation of NEW organizations over the API. The reasoning behind it being that we would need to set up user accounts and assign ownership roles to specific records during pilots. It’s more of a control thing for now. I can enable this endpoint for future tests if we feel like it’s important.
</p>
</br>

<h4>List All Organizations</h4>

<p>This will return a JSON of all verified organization information. Any outstanding (unverified) updates will not be returned to this endpoint until they have been approved.</p>

    <strong>Endpoint: </strong><code>
    {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/v1/organizations/
    </code></br>
    <strong>Method:</strong> GET</br>
    <strong>Header:</strong>
    <pre><code>'Authorization: Token {{ token.key }}'</code></pre>


</br>

<h4>Update Organization</h4>

<p>This endpoint will allow a ‘superuser’ or a record’s ‘owner’ account to push updates to an existing organization record. The pushed information will sit in a verification queue, and after a manual review, the updates can be pushed live (and will be made available in the list all endpoint).</p>

    <strong>Endpoint: </strong><code>
    {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/v1/organizations/{id}
    </code>
    </br>
    <strong>Method:</strong> PATCH</br>
    <strong>Header</strong> (must be owner or superuser):
    <pre><code>'Authorization: Token {{ token.key }}'</code></pre>

</br>
    <strong>Body Examples (JSON):</strong>

</br>
    <h5>Simple name update</h5>
    <pre>
<code>{
    "name": "John's Org New"
}
</code></pre>


</br>
    <h5>Simple update of all base fields</h5>
    <pre>
<code>{
    "name": "John's Org New 2",
    "description": "Update!",
    "url": "www.newwebsite.com",
    "email": “newemail@website.com”
}

</code></pre>


</br>
    <h5>Update name and add new location</h5>
    <pre>
<code>{
"name": "John's Org New 3",
"locations": [
	{
		"name": "Location 1",
		"description": "Example Location 1",
		"transportation": "Take Bus #1",
		"latitude": "123.123",
		"longitude": "123.123",
		"address_1": "123 Fake Street",
		"address_2": "Unit 101",
		"city": "San Francisco",
		"state_province": "CA",
		"postal_code": "94108",
		"opening_hours": "9am-5pm M-F"
	}
]
}
</code></pre>


</br>
    <h5>Complex update including nested program, services, application process, and eligibility</h5>
    <pre>
<code>{
"name": "John's Org New 4",
"programs": [
	{
		"name": "Program 1",
		"status": "Active",
		"description": "Example description",
		"taxonomy_ids": [1],
		"services": [
			{
				"name": "Example Service",
				"description": "service description",
				"email": "email@email.com",
				"status": "active",
				"application_process": "none",
				"interpretation_services": [43,45],
				"taxonomy_ids": [1],
				"eligibility": [
					{
						"eligibility_details": "Must been elderly and 50% PL",
						"minimum_age": "65",
						"maximum_age": "test",
						"veteran_status": "None",
						"maximum_income": "50% FPL",
						"taxonomy_detail": "test",
						"area_description": "test",
						"required_document": "test",
						"immigration_status": "test",
						"criminal_status": "test",
						"taxonomy": [2],
						"area": [3,4]
					}
				],
				"applicationprocess": [
					{
						"howto": "Application how to details example",
						"intakehours": "9-5pm",
						"waittime": "Usually an hour"
					}
				]
			}
		]
	}
]
}
</code></pre>




</div>
{% endblock %}