{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block header_stuff %}
    {% endblock header_stuff %}
</head>
<body>
    {% include 'navbar.html' %}
{#    {% include 'error_notifications.html' %}#}
    <div class="content-wrapper">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script>
        $(document).ready(function(){

            $('textarea, input, select').not('[type="checkbox"]').addClass("form-control");
            $('textarea').attr("rows", 3);
            $('#services_formset_container select').select2();

        })
    </script>

    {% block js_stuff %}
    {% endblock js_stuff %}
</body>
</html>