{% extends 'editing_base.html' %}
{% load static %}

{% block page_title %}Organization{% endblock page_title %}

{% block header_stuff %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock header_stuff %}


{% block content %}
    <div class="col-lg-8 col-lg-offset-2">
  <!-- Tab panes -->
  <div class="tab-content">
    <h3>Organization Editing</h3>
    <form>
        {% if validation_mode %}
            {% if not pending_updates %}
                Everything was processed and all changes were applied
            {% else %}
                <div id="object_formset_container">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%">Field name</th>
                                <th width="20%">Initial value</th>
                                <th>Edited value</th>
                                <th width="25%">Related objects</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in form %}
                                <tr {% if field.name == "id" or field.name == "DELETE" or field.name == "service" or field.name == "program" or field.name == "program_update" %} class="hidden"{% endif %}>
                                    <td>
                                        <p>
                                            {{ field.name }}
                                        </p>
                                    </td>
                                    <td>
                                        {% for key, value in initial_data.items %}
                                        
                                            {% if key == field.name %}
                                                {% if value %}


                                                        {% if value != field.value %}
                                                            <div class="label label-primary">Edited!</div>
                                                        {% endif %}
                                                        <p>{{ value }}</p>
                                                
                                                
                                                {% elif field.value %}

                                                    <div class="label label-primary">Edited!</div>

                                                {% endif %}
                                                
                                                
                                                
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <p>
                                            {{ field }}
                                        </p>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
             
            {% endif %}

        {% else %}
            {{ form.as_p }}

        {% endif %}
                        <div class="form-group">              
                            <button class="btn btn-primary" type="submit">Save</button>
                            {% if previous_url %}
                                {% if previous_url %}<a href="{{ previous_url }}" class="btn btn-default">Back</a>{% endif %}
                            {% endif %}
                        </div> 
    </form>
  </div>
</div>
{% endblock %}

{% block js_stuff %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

{% endblock js_stuff %}